In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.2.9-py2.py3-none-any.whl (55 kB)
     ---------------------------------------- 55.9/55.9 kB 3.0 MB/s eta 0:00:00
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp39-cp39-win_amd64.whl (35 kB)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: requests>=2.26 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Collecting pytz>=2022.5
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     ------------------------------------- 499.4/499.4 kB 15.8 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (37.0.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ---------------------------------------- 112.2/112.2 kB ? eta 0:00:00
Requirement already satisfied: lxml>=4.9.1 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\vedan\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: soupsieve>1.2 in c:\users\vedan\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: cffi>=1.12 in c:\users\vedan\anaconda3\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in c:\users\vedan\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in c:\users\vedan\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vedan\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: pycparser in c:\users\vedan\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: pytz, multitasking, html5lib, frozendict, yfinance
  Attempting uninstall: pytz
    Found existing installation: pytz 2022.1
    Uninstalling pytz-2022.1:
      Successfully uninstalled pytz-2022.1
Successfully installed frozendict-2.3.4 html5lib-1.1 multitasking-0.0.11 pytz-2022.7.1 yfinance-0.2.9
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.20 requires clyent==1.2.1, but you have clyent 1.2.2 which is incompatible.
conda-repo-cli 1.0.20 requires nbformat==5.4.0, but you have nbformat 5.5.0 which is incompatible.

In [3]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 3.1 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.19.0 in c:\users\vedan\anaconda3\lib\site-packages (from pandas_datareader) (2.28.1)
Requirement already satisfied: lxml in c:\users\vedan\anaconda3\lib\site-packages (from pandas_datareader) (4.9.1)
Requirement already satisfied: pandas>=0.23 in c:\users\vedan\anaconda3\lib\site-packages (from pandas_datareader) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\vedan\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vedan\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\vedan\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vedan\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.3)
Requirement already satisfied: six>=1.5 in c:\users\vedan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas_datareader) (1.16.0)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas_datareader.data as pdr
import yfinance as yf

In [5]:
yf.pdr_override()

In [6]:
from datetime import datetime

In [7]:
data = pdr.get_data_yahoo('^GSPC', datetime(1970, 1, 1))

[*********************100%***********************]  1 of 1 completed

In [8]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1970-01-02 00:00:00-05:00,0.000000,93.540001,91.790001,93.000000,93.000000,8050000
1970-01-05 00:00:00-05:00,0.000000,94.250000,92.529999,93.459999,93.459999,11490000
1970-01-06 00:00:00-05:00,0.000000,93.809998,92.129997,92.820000,92.820000,11460000
1970-01-07 00:00:00-05:00,0.000000,93.379997,91.930000,92.629997,92.629997,10010000
1970-01-08 00:00:00-05:00,0.000000,93.470001,91.989998,92.680000,92.680000,10670000
...,...,...,...,...,...,...
2023-01-30 00:00:00-05:00,4049.270020,4063.850098,4015.550049,4017.770020,4017.770020,3802000000
2023-01-31 00:00:00-05:00,4020.850098,4077.159912,4020.439941,4076.600098,4076.600098,4679320000
2023-02-01 00:00:00-05:00,4070.070068,4148.950195,4037.199951,4119.209961,4119.209961,4856930000
2023-02-02 00:00:00-05:00,4158.680176,4195.439941,4141.879883,4179.759766,4179.759766,5624360000
2023-02-03 00:00:00-05:00,4136.689941,4182.359863,4123.359863,4136.479980,4136.479980,4694510000

In [9]:
stock_list=input(['zdfz'])

['zdfz']JSWSTEEL.NS

In [10]:
stock_list

'JSWSTEEL.NS'

In [ ]:
start = 1900-01-01

In [15]:
df=pdr.get_data_yahoo(stock_list,start= '2020-01-01', end= '2022-01-01')

[*********************100%***********************]  1 of 1 completed

In [30]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-01 00:00:00+05:30,270.700012,273.500000,265.850006,268.100006,241.922928,6952048
2020-01-02 00:00:00+05:30,272.000000,277.000000,271.549988,276.450012,249.457657,10780926
2020-01-03 00:00:00+05:30,276.450012,276.450012,270.750000,272.450012,245.848206,5943349
2020-01-06 00:00:00+05:30,270.500000,270.750000,262.299988,264.250000,238.448853,4529599
2020-01-07 00:00:00+05:30,266.149994,270.149994,263.100006,265.250000,239.351212,4465297

In [23]:
from datetime import date
t_date= date.today()
t_date

datetime.date(2023, 2, 4)

In [26]:
s_t_date= str(t_date)
s_t_date

'2023-02-04'

In [33]:
df=pdr.get_data_yahoo('AAPL',start= '2023-01-01', end= s_t_date)

[*********************100%***********************]  1 of 1 completed

In [35]:
df.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-30 00:00:00-05:00,144.960007,145.550003,142.850006,143.000000,143.000000,64015300
2023-01-31 00:00:00-05:00,142.699997,144.339996,142.279999,144.289993,144.289993,65874500
2023-02-01 00:00:00-05:00,143.970001,146.610001,141.320007,145.429993,145.429993,77663600
2023-02-02 00:00:00-05:00,148.899994,151.179993,148.169998,150.820007,150.820007,118339000
2023-02-03 00:00:00-05:00,148.029999,157.380005,147.830002,154.500000,154.500000,154279900